/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: hsl(0deg, 100%, 74%);
  background-image: url("../images/bg-intro-desktop.png");
  background-size: contain;
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
}

main {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  gap: 0.5em;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex > * + * {
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em 2.2em;
  border-radius: 8px;
  box-shadow: -1px 7px 3px -2px rgba(0, 0, 0, 0.24);
}
form > input {
  padding: 0.7em 2em;
  border: 1px solid hsl(246deg, 25%, 77%);
}
form > input:focus {
  outline: 1px solid hsl(249deg, 10%, 26%);
}
form > p {
  font-size: 9px;
  text-align: center;
  color: hsl(246deg, 25%, 77%);
}
form > p a {
  text-decoration: none;
  color: hsl(0deg, 100%, 74%);
  font-weight: 600;
}

.er:required:invalid {
  background: url("../images/icon-error.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 90% center;
  outline: 2px solid hsl(0deg, 100%, 74%);
}
.er:required:invalid::-moz-placeholder {
  color: hsl(0deg, 100%, 74%);
}
.er:required:invalid:-ms-input-placeholder {
  color: hsl(0deg, 100%, 74%);
}
.er:required:invalid::placeholder {
  color: hsl(0deg, 100%, 74%);
}

.pa:required:invalid {
  background: url("../images/icon-error.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 90% center;
  outline: 2px solid hsl(0deg, 100%, 74%);
}
.pa:required:invalid::-moz-placeholder {
  color: hsl(0deg, 100%, 74%);
}
.pa:required:invalid:-ms-input-placeholder {
  color: hsl(0deg, 100%, 74%);
}
.pa:required:invalid::placeholder {
  color: hsl(0deg, 100%, 74%);
}

form.er:-moz-placeholder-shown:empty, form.pa:-moz-placeholder-shown:empty {
  outline: 2px solid hsl(246deg, 25%, 77%);
}

form.er:-ms-input-placeholder:empty, form.pa:-ms-input-placeholder:empty {
  outline: 2px solid hsl(246deg, 25%, 77%);
}

form.er:placeholder-shown:empty, form.pa:placeholder-shown:empty {
  outline: 2px solid hsl(246deg, 25%, 77%);
}
form.er:placeholder-shown:empty::-moz-placeholder, form.pa:placeholder-shown:empty::-moz-placeholder {
  color: gray;
}
form.er:placeholder-shown:empty:-ms-input-placeholder, form.pa:placeholder-shown:empty:-ms-input-placeholder {
  color: gray;
}
form.er:-moz-placeholder-shown:empty::placeholder, form.pa:-moz-placeholder-shown:empty::placeholder {
  color: gray;
}
form.er:-ms-input-placeholder:empty::placeholder, form.pa:-ms-input-placeholder:empty::placeholder {
  color: gray;
}
form.er:placeholder-shown:empty::placeholder, form.pa:placeholder-shown:empty::placeholder {
  color: gray;
}

.pa:valid {
  background-color: white;
}

.pa::after {
  content: "This field is required";
  color: hsl(0deg, 100%, 74%);
  font-size: 1.2em;
}

[data-erro]::after {
  content: attr(data-erro);
}

form > * + * {
  margin-top: 20px;
}

.ct {
  padding-top: 8em;
  padding-right: 2em;
}
.ct > * + * {
  margin-top: 2rem;
}
.ct > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: left;
  line-height: 1.2;
}
.ct > p {
  color: white;
}

.cta {
  padding: 1em;
  background-color: hsl(154deg, 59%, 51%);
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px 0px -2px rgba(41, 68, 21, 0.29);
}
.cta:hover {
  background-color: #2ba671;
}

.try {
  background-color: hsl(248deg, 32%, 49%);
  color: white;
  padding: 1em 2em;
  border-radius: 8px;
  width: 100%;
  box-shadow: -1px 7px 3px -2px rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  main {
    flex-wrap: wrap;
    margin: auto;
    max-width: 600px;
    align-items: center;
    justify-content: center;
  }

  .ct {
    text-align: center;
  }
  .ct h1 {
    text-align: center;
  }

  .try {
    margin-top: 5em;
  }
}
@media (max-width: 390px) {
  :root {
    font-size: 10px;
  }

  main {
    flex-wrap: wrap;
    margin: auto;
    max-width: 400px;
    align-items: center;
    justify-content: center;
  }

  .ct {
    text-align: center;
  }
  .ct h1 {
    text-align: center;
  }

  .try {
    margin-top: 5em;
  }
}/*# sourceMappingURL=style.css.map */