@use './reset' as *;
    $Red: hsl(0, 100%, 74%) ;
    $Green: hsl(154, 59%, 51%);
    $Blue: hsl(248, 32%, 49%);
    $Dark-Blue: hsl(249, 10%, 26%) ;
    $Grayish-Blue: hsl(246, 25%, 77%);



body{
 background-color: $Red;
 background-image: url('../images/bg-intro-desktop.png');
 background-size: contain;
 display: grid;
 place-items: center;
 font-family: 'Poppins', sans-serif;
}

main{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: .5em;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &>* + * {
        margin-top: 2rem;
    }
}
form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2em  2.2em ;
    border-radius: 8px;
    -webkit-box-shadow: -1px 7px 3px -2px rgba(0,0,0,0.24); 
box-shadow: -1px 7px 3px -2px rgba(0,0,0,0.24);
    &> input{
        padding: .7em 2em;
       border: 1px solid $Grayish-Blue;
        &:focus{
        outline: 1px solid $Dark-Blue;
        }
    }
    &> p{
        font-size: 9px;
        text-align: center;
        color: $Grayish-Blue;
        & a{
            text-decoration: none;
            color: $Red;
            font-weight: 600;
        }
    }
    
  
}


.er:required:invalid {
    background: url('../images/icon-error.svg');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 90% center;
    outline: 2px solid $Red;
    &::placeholder{
        color: $Red;
    }
}
.pa:required:invalid {
    background: url('../images/icon-error.svg');
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 90% center;
    outline: 2px solid $Red;
    &::placeholder{
        color: $Red;
    }
}

form.er:placeholder-shown:empty, form.pa:placeholder-shown:empty{
    outline: 2px solid $Grayish-Blue;
    &::placeholder{
        color: gray;
    }
}

.pa:valid{
    background-color: white;
}

.pa::after{
    content: 'This field is required';
    color: $Red;
    font-size: 1.2em;
   
}

[data-erro]::after{
    content: attr(data-erro);
}




form> * + *{
    margin-top: 20px;
}
.ct{
    padding-top: 8em;
    
    padding-right: 2em;
    &>* + *{
        margin-top: 2rem;
    }
    &> h1{
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
        text-align: left;
        line-height: 1.2;
    }
    &>p{
        color: white;
    }
}
.cta{
    padding: 1em;
    background-color: $Green;
    border: none;
    cursor: pointer;
    color: white;
    -webkit-box-shadow: 0px 4px 0px -2px rgba(41,68,21,0.29); 
    box-shadow: 0px 4px 0px -2px rgba(41,68,21,0.29);
    &:hover{
        background-color: darken($Green, $amount: 10%);
    }
   
}

.try{
    background-color: $Blue;
    color: white;
    padding: 1em 2em;
    border-radius: 8px;
    width: 100%;
    -webkit-box-shadow: -1px 7px 3px -2px rgba(0,0,0,0.24); 
box-shadow: -1px 7px 3px -2px rgba(0,0,0,0.24);
}








// Media Queries
@media (max-width: 768px){
    :root{
        font-size: 14px;
    }
    main{
        flex-wrap: wrap;
        margin: auto;
        max-width: 600px;
        align-items: center;
        justify-content: center;
    }
    .ct{
        text-align: center;
        h1{
            text-align: center;
        }
    }
    .try{
        margin-top: 5em;
    }
    
    
}

@media (max-width: 390px){
    :root{
        font-size: 10px;
    }
    main{
        flex-wrap: wrap;
        margin: auto;
        max-width: 400px;
        align-items: center;
        justify-content: center;
    }
    .ct{
        text-align: center;
        h1{
            text-align: center;
        }
    }
    .try{
        margin-top: 5em;
    }
    
    
}
